# {{ ansible_managed}}
# To see more examples, please see
# /usr/share/doc/sshguard/examples/whitelistfile.example

# Address blocks in CIDR notation
127.0.0.0/8
213.204.45.40/32
87.255.57.195/32
82.157.34.27/32
217.29.224.86/32
